.navbar .nav-link {
    transition: color 0.3s ease;
  }
  
  .navbar .nav-link:hover {
    color: #0F1056    !important;
  }

  .navbar{
    background-color: #81B1CE;
  }


  .course-categories .card {
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .course-categories .card:hover {
    transform: translateY(-10px);
  }
  
  .course-categories .card-img-top {
    border-radius: 10px 10px 0 0;
  }


  .featured-courses .card {
    transition: transform 0.3s ease;
  }
  
  .featured-courses .card:hover {
    transform: translateY(-10px);
  }
  